.tabla-datos{
    border:rgb(201, 201, 201) 1px solid;
    width: 100%;
    margin-top: 5px;
}

.tabla-datos td{
    padding: 10px;
}
.tabla-datos, .tabla-datos td, .tabla-datos th{
    border: rgb(226, 226, 226) 0.7px solid;
    border-collapse: collapse;
}
.tabla-datos tr.encabezado-tabla {
    background-color: azure;
}


