/* 
    ====================================
    CONFIGURACIÓN GLOBAL DE ESTILOS
    ====================================
*/

body{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
body, #tablero, #tablero > nav >ul li{
    background-color: #304961;
}


.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
}

#tablero{
    width: 20%;
    overflow: hidden;
}
#principal{
    width: 80%;
    min-height: 100vh;
    height: auto;
    
}
#principal{
    background-color: #FFF;
}

/* 
    ====================================
    CONFIGURACIÓN  DE ESTILOS DEL TABLERO
    ====================================
*/

/* 
    -- Estilos del header del tablero --
*/
figure.marca img{
    width: 100%;
}
section.info-usuario{
    display: block;
    position: relative;
}
section.info-usuario figure img{
    width: 60px;
    margin-left: 5px;
    border-radius: 90px;
    border-color: #fff;
    border: #fff 2px solid;

    vertical-align: middle;
}
section.info-usuario figure figcaption{
    width: 50px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    color: #d1d6db;
     
}
/* 
    -- Estilos del menú de navegación --
*/
#tablero nav #titulo-navegacion{
    color: #fff;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    text-align: center;
}
#tablero nav ul{
    list-style: none;
}


#tablero > nav > ul > li{
    border: #445b72 1px outset;
}

#tablero > nav >ul >li{
    border: #445b72 1px outset;
}

#tablero nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    box-sizing: border-box;
}



/*  Estilos relacionados a submenú*/

/* Configuracion para resaltar submenus*/
#tablero nav ul ul{
    margin-left:6px;
    border-left: #59697a 2px solid;
}
/*      icono de submenú*/
#tablero > nav ul li  a > .ion-chevron-down{
    font-size: 11px;
    text-align: center;
    float:right;
    border-radius: 90px;
    transition: transform 0.5s;

}
#tablero > nav ul > li:hover > a .ion-chevron-down{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

/*      Efectos submenu*/

#tablero nav ul li{
    max-height: 40px;
    overflow: hidden;
    -webkit-transition: max-height 1.5s;
    transition: max-height 1.5s, border 0.2s;
}
#tablero nav ul li:hover{
    max-height: 400px;
    background-color: #2e4963;
    
}

#tablero nav ul li::after{
    content: "";
    width: 0px;
    display: block;
    height: 1px;
    transition: width 2s;
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
}

#tablero nav ul li:hover::after{
    width: 100%;
}

#tablero footer{
    min-height: 40px;
    display: block;
    position: fixed;
    bottom: 0px;
    width: 20%;
    background-color:#1b2b3b;
}



/*
    Estilos de despliegue
*/

.nueva-linea{
    display: block;
}

/* 
    ====================================
    CONFIGURACIÓN  DE ESTILOS DEL ESPACIO PRINCIPAL
    ====================================
*/

.cabecera-principal{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
}

.caja-informacion{
    display: inline-block;
    margin-left: 20px;
    min-width: 150px;
    min-height: 80px;
    border-radius: 5px;
    border: rgb(84, 196, 168) 1px solid;
}

.caja-informacion h3{
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding: 10%;
}

.contenido{
    padding: 20px;
}

.cabecera-principal #mostrar-menu{
    width: 50px;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #eeeeee;
    font-size: 30px;
    color:  #304961;
    float: right;
    display: none;
}

.cabecera-principal #cerrar-menu{
    margin-left: 240px;
    width: 50px;
    font-size: 30px;
    color:#304961;
    float: right;
    text-align: center;
    display: none;
}



#tablero > nav >ul .activo, #tablero > nav >ul .activo:hover{
    background-color: rgb(51, 177, 78);
}

/* 
    ====================================
    Media Queries
    ====================================
*/

/*
    Navegacion
*/

@media screen and (max-width: 900px){
    #tablero{
        height: 100%;
        position: fixed;
        left: 0;        
        display: none;
        overflow: hidden;
        
    }
    #footer{
        display: none;
    }

    #principal{
        width: 100%;
    }
    .cabecera-principal #mostrar-menu{
        display: block;        
    }
}







